doctype html
include ../../SharedComponents/Layouts/header.jade
html
  head
    meta(charset='utf-8')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    title መገለጫ ፡ #{user.name}
    // Tell the browser to be responsive to screen width
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Font Awesome
    link(rel='stylesheet', href='static/plugins/fontawesome-free/css/all.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='static/dist/css/adminlte.min.css')
    // Google Font: Source Sans Pro
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
  body.hold-transition.sidebar-mini
    .wrapper
      // Navbar
      include ../../SharedComponents/Layouts/navigation.jade
      // Main Sidebar Container
      include ../../SharedComponents/Layouts/sidebarNU.jade
      // Content Wrapper. Contains page content
      .content-wrapper
        // Content Header (Page header)
        section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-6
                h1 መገለጫ
          // /.container-fluid
        // Main content
        section.content
          .container-fluid
            .row
              .col-md-3
                // Profile Image
                .card.card-primary.card-outline
                  .card-body.box-profile
                    .text-center
                      img.profile-user-img.img-fluid.img-circle(src='#{user.pro_img}', style="height:150px; width:150px;" alt='User profile picture')
                    |                 
                    h3.profile-username.text-center #{user.name}
                    h5.profile-username.text-center #{user.cname}
                    button(type='button', class="btn btn-block btn-primary", data-toggle='modal', data-target='#modal_pic-sm') ምስል ቀይር
                    |                 
                    p.text-muted.text-center
                    |                 
                    ul.list-group.list-group-unbordered.mb-3
                      li.list-group-item
                        b የስራ ድርሻ
                        ul
                          each val in user.work
                            each val in user.work  
                              li=val.department
                                each val2 in val.subDepartment    
                                  ul
                                    if val2.active == true
                                      li=val2.name
                                      ul 
                                        li=val2.role
              .col-md-9
                .card
                  .card-header.p-2
                    ul.nav.nav-pills              
                      li.nav-item
                        a.nav-link.active(href='#settings', data-toggle='tab') አስተካክል
                  // /.card-header
                  .card-body
                    .tab-content
                      #settings.active.tab-pane
                        form(method="post", action="/STB/Accounts/updateProfile").form-horizontal
                          .form-group.row
                            label.col-sm-2.col-form-label(for='inputName') ሙሉ ስም
                            |                         
                            .col-sm-10
                              input#inputName.form-control(type='text', placeholder='ሙሉ ስም', value="#{user.name}", name='name')
                          |                       
                          .form-group.row
                            label.col-sm-2.col-form-label(for='inputEmail') 
                            |                         
                            .col-sm-10
                              input#inputEmail.form-control(type='hidden', placeholder='ክርስትና ስም', value="#{user.email}", name='email')             
                          .form-group.row
                            .offset-sm-2.col-sm-10
                              button.btn.btn-danger(type='submit') መዝግብ
                  #modal_pic-sm.modal.fade(style='display: none;', aria-hidden='true')
                    .modal-dialog.modal_pic-sm
                      .modal-content
                        .modal-header
                          h5.modal-title የመግለጫ ምስል መቀየሪያ
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .modal-body
                          .text-center
                            img.profile-user-img.img-fluid.img-circle#gubayeImg(style="height:500x; width:500px;" src='#{user.pro_img}', alt='User profile picture')
                          .form-group
                            br
                            label(for='exampleInputFile') የመግለጫ ምስል ይምረጡ
                            br
                            .input-group
                              form(method="post" enctype="multipart/form-data" action="/STB/accounts/profilePic/#{user._id}")
                                input(type='file' name="gubayePicFile" accept="image/*")
                                button.btn.btn-primary(type="submit") Upload                                  
                        .modal-footer.justify-content-between
                          button.btn.btn-default(type='button', data-dismiss='modal') ዝጋ
                          // /.modal-dialog
 
                      // /.tab-pane
                    // /.tab-content
                  // /.card-body
                // /.nav-tabs-custom
              // /.col
            // /.row
          // /.container-fluid
        // /.content
      // /.content-wrapper
      footer.main-footer 
        include ../../SharedComponents/Layouts/footer.jade
    script(src='../STB/ADMINLITE/plugins/jquery/jquery.min.js')
    // Bootstrap 4
    script(src='../STB/ADMINLITE/plugins/bootstrap/js/bootstrap.bundle.min.js')
    // AdminLTE App
    script(src='../STB/ADMINLITE/dist/js/adminlte.min.js')
    // AdminLTE for demo purposes
    script(src='../STB/ADMINLITE/dist/js/demo.js')


        // Bootstrap 4
    script(src='../../STB/ADMINLITE/plugins/bootstrap/js/bootstrap.bundle.min.js')
    // AdminLTE for demo purposes
    script(src='../../STB/ADMINLITE/dist/js/demo.js')
    // DataTables
  script(src='../../STB/ADMINLITE/plugins/datatables/jquery.dataTables.js')
  script(src='../../STB/ADMINLITE/plugins/datatables-bs4/js/dataTables.bootstrap4.js')
  script(src='../../STB/ADMINLITE/plugins/bootstrap/js/bootstrap.bundle.min.js')
  // DataTables
  link(rel='stylesheet', href='/STB/ADMINLITE/plugins/datatables-bs4/css/dataTables.bootstrap4.css')
  
  script(src='../../STB/ADMINLITE/dist/js/adminlte.min.js')
