// Main Sidebar Container
html
  head
  body
    aside.main-sidebar.sidebar-dark-primary.elevation-4
      // Brand Logo
      a.brand-link(href='static/index3.html')
        img.brand-image.img-circle.elevation-3(src='/SharedComponents/static/logo.jpg', alt='AdminLTE Logo', style='opacity: .8')
        |       
        span.brand-text.font-weight-light አምደ ተዋሕዶ
      // Sidebar
      .sidebar
        // Sidebar user (optional)
        .user-panel.mt-3.pb-3.mb-3.d-flex
          .image
            img.img-circle.elevation-2(src='/#{loaderuser.pro_img}', alt='User Image')
          |         
          .info
            a.d-block(href='/accounts/profile') #{loaderuser.name}
        // Sidebar Menu
        nav.mt-2
          ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
            //
              Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library
            each val in loaderuser.work   
              li.nav-item.has-treeview.menu.open
                     
                a(href="#").nav-link.active
                  i.nav-icon.fas.fa-tachometer-alt
                  p=val.department 
                    i.right.fas.fa-angle-left
                ul(style="display: block;").nav.nav-treeview 
                  if val.subDepartment.length > 1
                    each val2 in val.subDepartment
                      if val2.sd_id == 1 & val2.active == true
                        each val3 in val.subDepartment
                          if val3.parent == 1
                            li.nav-item
                              a(href=val3.DA_link, id=val3.sd_id).nav-link
                                i.far.fa-circle.nav-icon
                                p=val3.name
                      if val2.sd_id == 1 & val2.active == false
                        each val3 in val.subDepartment
                          if val3.active == true
                              li.nav-item
                                a(href=val3.SD_link, id=val3.sd_id).nav-link
                                  i.far.fa-circle.nav-icon
                                  p=val3.name     
              li.nav-item.has-treeview.menu.open 
                a(href="#").nav-link
                  i.nav-icon.fas.fa-tachometer-alt
                  p ጉባኤያት
                    i.right.fas.fa-angle-left
                ul(style="display: block;").nav.nav-treeview#pr 
                  if(loaderuser.JoinedclassRooms)
                    each classes in loaderuser.JoinedclassRooms   
                      li.nav-item                                  
                        a(href="/SirateTimhert/Gubaye/public/#{classes.id}", id=classes.id).nav-link
                          i.far.fa-circle.nav-icon
                          p #{classes.name}
                              
            li.nav-item
              a.nav-link(href='../Accounts/logout')
                i.fas.fa-circle.nav-icon
                |               
                p ውጣ
            |     

//- #Messagebox.back-to-top 
  .card.card-prirary.cardutline.direct-chat.direct-chat-primary
    .card-header
      h3.card-title#chatwith Chat
      .card-tools
        span.badge.bg-primary(data-toggle='tooltip', title='3 New Messages') 3
        button.btn.btn-tool(type='button', data-card-widget='collapse')
          i.fas.fa-plus
        button.btn.btn-tool(type='button', data-toggle='tooltip', title='Contacts', data-widget='chat-pane-toggle')
          i.fas.fa-comments
        button.btn.btn-tool(type='button', data-card-widget='remove')
          i.fas.fa-times
    // /.card-header
    .card-body(style="display: none;")
      // Conversations are loaded here
      .direct-chat-messages
        // Message. Default to the left
      .direct-chat-contacts
        ul.contacts-list
          li
            a(href='#')
              img.contacts-list-img(src='/ADMINLITE/dist/img/user1-128x128.jpg')
              .contacts-list-info
                span.contacts-list-name
                  | Count Dracula
                  small.contacts-list-date.float-right 2/28/2015
                span.contacts-list-msg How have you been? I was...
              // /.contacts-list-info
              // End Contact Item
              // /.contatcts-list
              // /.direct-chat-pane
              // /.card-body
      #hidden_div
      .card-footer
        form(action='#', method='post')
          .input-group
            input.form-control(type='text', id='message', placeholder='Type Message ...')
            span.input-group-append
              button.btn.btn-primary(type='button' id='send' onclick = "SendMyMessage(document.getElementById('hidden_div').innerHtml, function(con){document.getElementsByClassName('direct-chat-messages')[0].innerHTML += con; document.getElementsByClassName('direct-chat-messages')[0].scrollTop=9999999;})") Send
                    // /.card-footer
