doctype html
include ../../../SharedComponents/Layouts/header.jade
script(src="/STB/ADMINLITE/plugins/bs-custom-file-input/bs-custom-file-input.min.js")
html
  head
    meta(charset='utf-8')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    title #{returnedCourse.name}
    // Tell the browser to be responsive to screen width
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Font Awesome
    link(rel='stylesheet', href='/STB/ADMINLITE/plugins/fontawesome-free/css/all.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='static/dist/css/adminlte.min.css')
    // Google Font: Source Sans Pro
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
  body.hold-transition.sidebar-mini
    .wrapper
      // Navbar
      include ../../../SharedComponents/Layouts/navigation.jade
      // Main Sidebar Container
      include ../../../SharedComponents/Layouts/sidebarNU.jade
      // Content Wrapper. Contains page content
      .content-wrapper
        // Content Header (Page header)
        section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-12
                h1 #{returnedCourse.name}
              |           
              .col-sm-12
                ol.breadcrumb.float-sm-right
                  li.breadcrumb-item
                    a(href='/STB/SirateTimhert/SubDepartmentAdmin') ስዕራተ ትምህርት ንኡስ ክፍል
                  li.breadcrumb-item.active #{returnedCourse.name}
                  
            .row
              .col-md-12
                .card
                  .card-header.p-2
                    ul.nav.nav-pills
                      li.nav-item
                        a.nav-link.active(href='#courseOutine', data-toggle='tab') ይዘት
                      |                   
                      li.nav-item
                        a.nav-link(href='#books', data-toggle='tab') መጻህፍት
                      |                   
                      //- li.nav-item
                        a.nav-link(href='#classRooms', data-toggle='tab') ጉባኤያት
                      |                               
                      li.nav-item
                        a.nav-link(href='#settings', data-toggle='tab') ዝርዝር
                          
                  // /.card-header
                  .card-body
                    .tab-content
                      #courseOutine.active.tab-pane
                        .card
                          .card-header
                            .row
                              .col-9
                                h3.card-title Course Outline : #{returnedCourse.name}
                                .card-tools
                              .col-3
                                .row 
                                  .col-12
                                    if(returnedCourse.courseOutline.toString() != "")
                                      button.btn.btn-block.btn-outline-danger.btn-sm(type='button' id="btnRemoveCourseOutline" onclick = "btnObj.removeCourseOutline()") አጥፋ
                          form(role="form" enctype="multipart/form-data" method = "post" action="/STB/SirateTimhert/Gubaye_Nius_Sebsabi/upload/#{returnedCourse._id}/courseoutline")  
                            .card-body(style='display: block;')
                              .form-group#Cfile_upload
                                label(for='exampleInputFile') File input
                                .input-group
                                  .custom-file
                                    input#exampleInputFile.custom-file-input(type='file' name="courseOutlineFile")
                                    label.custom-file-label(for='exampleInputFile')
                                  .input-group-append
                                    button.btn.btn-primary(type='submit') Upload

                            if(returnedCourse.courseOutline.toString() != "")
                              iframe(src="#{returnedCourse.courseOutline}" style='width:100%' height='420' id="courseOutlineIFrame")                            
                            //- else
                            //-   iframe(src="/null/" style='width:100%' height='420' id="courseOutlineIFrame")
                          // /.card-body
                          .card-footer(style='display: block;')
                            | Footer
                          // /.card-footer
                      #books.tab-pane
                        .card-header.p-2
                            ul.nav.nav-pills
                              each book in returnedCourse.books
                                li.nav-item
                                  a.nav-link(href='#f#{book._id}', data-toggle='tab') #{book.bookName}
                              li.nav-item
                                a.active.nav-link(href='#newBook', data-toggle='tab') 
                                  div(class="fas fa-plus nav-plus") መጽሐፍ አካት
                          // /.card-header
                          
                        .card-body
                          .tab-content
                            each book in returnedCourse.books
                              div(id="f#{book._id}").tab-pane
                                iframe(src = "/STB/Workspaces/SierateTimhert/static/#{book.filePath}" style="width:100%" height=420)
                            #newBook.active.tab-pane
                              p የተፈቀዱ ፋይሎች pdf jpg jpeg png gif ብቻ ናቸው። 
                              form(method="post", action="/STB/SirateTimhert/Gubaye_Nius_Sebsabi/upload/#{returnedCourse._id}/book", 
                              enctype="multipart/form-data")
                                .form-group
                                  label(for='exampleInputFile') መጽሐፉን ይምረጡ
                                  .input-group
                                      input(type='file' name = "bookFile" id="exampleInputFile")
                                  label(for='exampleInputFile') የመጽሐፉ ስም 
                                  .input-group
                                      input(type='text' name = "bookname")
                                  input(type="submit" value="ጫን")
                      //- #classRooms.tab-pane
                        .row
                          each gubaye in classRooms
                            .col-12.col-sm-6.col-md-4               
                              .info-box
                                .info-box-icon.bg-info
                                  .fas.fa-users
                                .info-box-content
                                  a(href="/STB/SirateTimhert/course/Gubaye_Nius_Sebsabi/#{returnedCourse._id}/#{gubaye._id}")
                                    span.info-box-text #{gubaye.name}
                                  span.info-box-text የአባላት ብዛት ፡ #{gubaye.membersCount}
                                  span.info-box-text አስተባባሪ ፡ #{gubaye.leader} 
                      #settings.tab-pane
                        .row
                            .col-md-3
                              // Profile Image
                              .card.card-primary.card-outline
                                .card-body.box-profile
                                  .text-center
                                    img.profile-user-img.img-fluid.img-circle(src='/STB/SharedComponents/static/logo.jpg', alt='User profile picture')
                                  |                 
                                  h3.profile-username.text-center #{returnedCourse.name}
                                  |                 
                                  p.text-muted.text-center
                                  |                 
                                  ul.list-group.list-group-unbordered.mb-3
                                    li.list-group-item
                                      b የተከፈተበት ቀን
                                      p #{returnedCourse.createdAt}
                                // /.card-body
                              // /.card
                              // About Me Box
                            .col-md-9
                              .card
                                .card-header.p-2
                                  ul.nav.nav-pills                 
                                    li.nav-item
                                      a.nav-link.active(href='#settings', data-toggle='tab') አስተካክል
                                // /.card-header
                                .card-body
                                  .tab-content
                                    #settings.active.tab-pane
                                      form(method="post", action="../STB/Gubaye/Update").form-horizontal
                                        .form-group.row
                                          label.col-sm-2.col-form-label(for='inputName') የትምህርቱ ስም
                                          |                         
                                          .col-sm-10
                                            input.form-control(type='text', placeholder='የትምህርቱ ስም', value="#{returnedCourse.name}", id="name", name='name')
                                          |                       
                                        .form-group.row
                                          label.col-sm-2.col-form-label(for='inputEmail') ዝርዝር
                                          |                         
                                          .col-sm-10
                                            input.form-control(type='text', placeholder='ዝርዝር', value="#{returnedCourse.description}", id="description", name='description')
                                            input(type='hidden', value="#{returnedCourse._id}", name='_id', id='_id')

                                        .form-group.row
                                          .offset-sm-2.col-sm-10
                                            button.btn.btn-primary(type='button' onclick="updateCourse()") መዝግብ
                                    // /.tab-pane
                                  // /.tab-content
                                // /.card-body
                              // /.nav-tabs-custom
                            // /.col
                    // /.tab-content
                  // /.card-body
                // /.nav-tabs-custom
              // /.col
            // /.row
          // /.container-fluid
        // Main content
        section.content
          .container-fluid
          // /.container-fluid
        // /.content
      // /.content-wrapper
      footer.main-footer 
        include ../../../SharedComponents/Layouts/footer.jade
    // jQuery
    script(src='/STB/ADMINLITE/plugins/jquery/jquery.min.js')
    // Bootstrap 4
    script(src='/STB/ADMINLITE/plugins/bootstrap/js/bootstrap.bundle.min.js')
    // AdminLTE App
    script(src='/STB/ADMINLITE/dist/js/adminlte.min.js')
    // AdminLTE for demo purposes
    script(src='/STB/ADMINLITE/dist/js/demo.js')
    script(src="/STB/Workspaces/SierateTimhert/js/courseTSDA.js")
    script.
      document.getElementById('3').className = "nav-link active"
      document.getElementById('#{user.GubayeID}').className = "nav-link active"

