doctype html
include ../../../SharedComponents/Layouts/header.jade
html
  head
    meta(charset='utf-8')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    title #{classRoom.name} : #{returnedCourse.name}
    // Tell the browser to be responsive to screen width
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Font Awesome
    link(rel='stylesheet', href='/STB/adminlite/plugins/fontawesome-free/css/all.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='static/dist/css/adminlte.min.css')
    // Google Font: Source Sans Pro
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
  body.hold-transition.sidebar-mini
    .wrapper
      // Navbar
      include ../../../SharedComponents/Layouts/navigation.jade
      // Main Sidebar Container
      include ../../../SharedComponents/Layouts/sidebarNU.jade
      // Content Wrapper. Contains page content
      .content-wrapper
        // Content Header (Page header)
        section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-12
                h1 #{returnedCourse.name}           
              .col-sm-12
                ol.breadcrumb.float-sm-right
                  li.breadcrumb-item
                    a(href='/STB/SirateTimhert/SubDepartmentAdmin') ስዕራተ ትምህርት ንኡስ ክፍል
                  li.breadcrumb-item
                    a(href='/STB/SirateTimhert/Gubaye_Nius_Sebsabi/#{classRoom._id}') ጉባኤ #{classRoom.name}
                  li.breadcrumb-item.active #{returnedCourse.name} ኮርስ
            .row
              .col-md-12
                .card
                  .card-header.p-2
                    ul.nav.nav-pills
                      li.nav-item
                        a.nav-link.active(href='#points', data-toggle='tab') ነጥብ
                      li.nav-item
                        a.nav-link(href='#attendance', data-toggle='tab') አቴንዳንስ
                      li.nav-item
                        a.nav-link(href='#detail', data-toggle='tab') ዝርዝር
                  // /.card-header
                  .card-body
                    input(type="hidden", value="#{returnedCourse}", id="courseData")
                    input(type="hidden", value="#{classRoom}", id="classRoomData")

                    script.
                      var data = #{returnedCourse.markListColumnName}
                      console.log(data)
                    .tab-content
                      #points.active.tab-pane
                        .card
                          .card-header
                            .row  
                              .col-11
                                h3.card-title #{returnedCourse.name} ኮርስ የነጥብ ሰንጠረዥ
                              .col-1
                                button(type="button" class="btn btn-block btn-primary" onclick = "save('#{returnedCourse._id}', '#{classRoom._id}')") መዝግብ
                            
                          // /.card-header
                          .card-body(style="overflow-x:auto")
                            table#example1.table.table-bordered.table-striped
                              thead
                                tr
                                  each val in returnedCourse.markListColumnName
                                    if(classRoom._id == val.classRoomId )
                                      th ተራ. ቁጥር
                                      th 
                                        div(style="width:180px")
                                          ስም
                                      th ID
                                      th
                                        div(style="width:40px")
                                          input(class="form-control" length=10 style= "padding: 0rem 0rem;" id="column_1" 
                                          onChange="registeredColumnNameChange(1,document.getElementById('column_1').value)"
                                          type = "text" value = "#{val.MarkListColumn_1_name}" )
                                      th
                                        div(style="width:40px")
                                          input(class="form-control" length=10 style= "padding: 0rem 0rem;" id="column_2"  
                                          onChange="registeredColumnNameChange(2,document.getElementById('column_2').value)"
                                          type = "text" value = "#{val.MarkListColumn_2_name}" )
                                      th
                                        div(style="width:40px")
                                          input(class="form-control" length=10 style= "padding: 0rem 0rem;" id="column_3"  
                                          onChange="registeredColumnNameChange(3,document.getElementById('column_3').value)"
                                          type = "text" value = "#{val.MarkListColumn_3_name}" )
                                      th
                                        div(style="width:40px")
                                          input(class="form-control" length=10 style= "padding: 0rem 0rem;" id="column_4"  
                                          onChange="registeredColumnNameChange(4,document.getElementById('column_4').value)"
                                          type = "text" value = "#{val.MarkListColumn_4_name}" )
                                      th
                                        div(style="width:40px")
                                          input(class="form-control" length=10 style= "padding: 0rem 0rem;" id="column_5"  
                                          onChange="registeredColumnNameChange(5,document.getElementById('column_5').value)"
                                          type = "text" value = "#{val.MarkListColumn_5_name}" )
                                      th
                                        div(style="width:40px")
                                          input(class="form-control" length=10 style= "padding: 0rem 0rem;" id="column_6"  
                                          onChange="registeredColumnNameChange(6,document.getElementById('column_6').value)"
                                          type = "text" value = "#{val.MarkListColumn_6_name}" )
                                      th
                                        div(style="width:40px")
                                          input(class="form-control" length=10 style= "padding: 0rem 0rem;" id="column_7"  
                                          onChange="registeredColumnNameChange(7,document.getElementById('column_7').value)"
                                          type = "text" value = "#{val.MarkListColumn_7_name}" )
                                      th
                                        div(style="width:40px")
                                          input(class="form-control" length=10 style= "padding: 0rem 0rem;" id="column_8"  
                                          onChange="registeredColumnNameChange(8,document.getElementById('column_8').value)"
                                          type = "text" value = "#{val.MarkListColumn_8_name}" )
                                      th
                                        div(style="width:40px")
                                          input(class="form-control" length=10 style= "padding: 0rem 0rem;" id="column_9"  
                                          onChange="registeredColumnNameChange(9,document.getElementById('column_9').value)"
                                          type = "text" value = "#{val.MarkListColumn_9_name}" )
                                      th
                                        div(style="width:40px")
                                          input(class="form-control" length=10 style= "padding: 0rem 0rem;" id="column_10"  
                                          onChange="registeredColumnNameChange(10,document.getElementById('column_10').value)"
                                          type = "text" value = "#{val.MarkListColumn_10_name}" )
                                      th 100
                                      th ደረጃ  
                              tbody
                                script.
                                  var rank = 1
                                each val in returnedCourse.markList
                                  tr
                                    if(classRoom._id == val.classRoomId )
                                      td 
                                        div(id="rank_#{val.studentId._id}")
                                      td #{val.studentId.name}
                                      td _______
                                      td 
                                        input(type="text" class="form-control" style= "padding: 0rem 0rem;" onChange="registerChanges('#{val.studentId._id}', 1,document.getElementById('#{val.studentId._id}_1').value)" id = "#{val.studentId._id}_1" value="#{val.column_1_value}")
                                      td 
                                        input(type="text" class="form-control" style= "padding: 0rem 0rem;" onChange="registerChanges('#{val.studentId._id}', 2,document.getElementById('#{val.studentId._id}_2').value)" id = "#{val.studentId._id}_2" value="#{val.column_2_value}")
                                      td 
                                        input(type="text" class="form-control" style= "padding: 0rem 0rem;" onChange="registerChanges('#{val.studentId._id}', 3,document.getElementById('#{val.studentId._id}_3').value)" id = "#{val.studentId._id}_3" value="#{val.column_3_value}")
                                      td 
                                        input(type="text" class="form-control" style= "padding: 0rem 0rem;" onChange="registerChanges('#{val.studentId._id}', 4,document.getElementById('#{val.studentId._id}_4').value)" id = "#{val.studentId._id}_4" value="#{val.column_4_value}")
                                      td 
                                        input(type="text" class="form-control" style= "padding: 0rem 0rem;" onChange="registerChanges('#{val.studentId._id}', 5,document.getElementById('#{val.studentId._id}_5').value)" id = "#{val.studentId._id}_5" value="#{val.column_5_value}")
                                      td 
                                        input(type="text" class="form-control" style= "padding: 0rem 0rem;" onChange="registerChanges('#{val.studentId._id}', 6,document.getElementById('#{val.studentId._id}_6').value)" id = "#{val.studentId._id}_6" value="#{val.column_6_value}")
                                      td 
                                        input(type="text" class="form-control" style= "padding: 0rem 0rem;" onChange="registerChanges('#{val.studentId._id}', 7,document.getElementById('#{val.studentId._id}_7').value)" id = "#{val.studentId._id}_7" value="#{val.column_7_value}")
                                      td 
                                        input(type="text" class="form-control" style= "padding: 0rem 0rem;" onChange="registerChanges('#{val.studentId._id}', 8,document.getElementById('#{val.studentId._id}_8').value)" id = "#{val.studentId._id}_8" value="#{val.column_8_value}")
                                      td 
                                        input(type="text" class="form-control" style= "padding: 0rem 0rem;" onChange="registerChanges('#{val.studentId._id}', 9,document.getElementById('#{val.studentId._id}_9').value)" id = "#{val.studentId._id}_9" value="#{val.column_9_value}")
                                      td 
                                        input(type="text" class="form-control" style= "padding: 0rem 0rem;" onChange="registerChanges('#{val.studentId._id}', 10,document.getElementById('#{val.studentId._id}_10').value)" id = "#{val.studentId._id}_10" value="#{val.column_10_value}")
                                      td 
                                        div(id="#{val.studentId._id}")
                                      td 
                                        div(id="rank2_#{val.studentId._id}")
                                      script.
                                        var totalMarks = #{val.column_1_value} + #{val.column_2_value} + #{val.column_3_value} + #{val.column_4_value} + #{val.column_5_value} + #{val.column_6_value} + #{val.column_7_value} + #{val.column_8_value} + #{val.column_9_value} + #{val.column_10_value}
                                        document.getElementById('#{val.studentId._id}').innerText =  totalMarks
                                        document.getElementById('rank_#{val.studentId._id}').innerText =  rank
                                        document.getElementById('rank2_#{val.studentId._id}').innerText =  rank
                                        rank += 1
                                        


                          // /.card-body

                      #attendance.tab-pane
                        .card
                          .card-header
                            .row  
                              .col-11
                                h3.card-title #{returnedCourse.name} Attendance
                              .col-1
                                button(type="button" class="btn btn-block btn-primary" onclick = "saveAttAbscent('#{returnedCourse._id}', '#{classRoom._id}')") መዝግብ
                          // /.card-header
                          .card-body(style="overflow-x:auto")
                            table#example3.table.table-bordered.table-striped
                              thead
                                tr
                                  th
                                    span(style="writing-mode: vertical-rl") ተራ.ቁጥር
                                  th(style="width:'30%'") ስም
                                  th ID
                                  each val in returnedCourse.attendanceColumnName
                                    if(classRoom._id == val.classRoomId) 
                                      th
                                        span(style="writing-mode: vertical-rl") #{val.columnName}
                                  th
                                    span(class="users-list-date") 
                                    span(class="users-list-date") 
                                    button(type='button', class="btn btn-block btn-primary btn-lg", data-toggle='modal', data-target='#modal-sm')
                                      div(class="fas fa-plus nav-plus")      
                              tbody
                                script.
                                  var rank = 0
                                each val in returnedCourse.markList
                                  if(val.classRoomId == classRoom._id)  
                                    tr
                                      td                                         
                                        div(id="number_#{val.studentId._id}")
                                      td #{val.studentId.name} 
                                      td #{val.studentId._id.toString().slice(18,24)}  
                                      each val1 in returnedCourse.attendance                                 
                                        if(val.studentId._id == val1.studentId && val1.classRoomId == classRoom._id)
                                          td 
                                            .icheck-primary.d-inline
                                              if(val1.abscent == 1)
                                                input(id="#{val1._id}" type='checkbox' onclick = "registerAttAbscentChanges('#{val1.studentId}', '#{val1._id}', document.getElementById('#{val1._id}').checked)")
                                                label(for='#{val1._id}')
                                              if(val1.abscent == 0)
                                                input(id="#{val1._id}" type='checkbox' onclick = "registerAttAbscentChanges('#{val1.studentId}', '#{val1._id}', document.getElementById('#{val1._id}').checked)" checked='true')
                                                label(for='#{val1._id}')
                                      script.
                                        rank = 1 + rank
                                        document.getElementById('number_#{val.studentId._id}').innerText =  rank
 

                                
                                  // jQuery

                        // Bootstrap 4
                        script(src='/STB/ADMINLITE/plugins/bootstrap/js/bootstrap.bundle.min.js')
                        // SweetAlert2
                        script(src='/STB/ADMINLITE/plugins/sweetalert2/sweetalert2.min.js')
                        // Toastr
                        script(src='/STB/ADMINLITE/plugins/toastr/toastr.min.js')
                        // AdminLTE App
                        script(src='/STB/ADMINLITE/dist/js/adminlte.min.js')
                        // AdminLTE for demo purposes
                        script(src='/STB/ADMINLITE/dist/js/demo.js')

                        #modal-sm.modal.fade(style='display: none;', aria-hidden='true')
                          .modal-dialog.modal-course
                            .modal-content
                              .modal-header
                                h4.modal-title አዲስ ቀን ይጨምሩ
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                  span(aria-hidden='true') ×
                              .modal-body
                                // Font Awesome
                                link(rel='stylesheet', href='/STB/ADMINLITE/plugins/fontawesome-free/css/all.min.css')
                                // Ionicons
                                link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
                                // daterange picker
                                link(rel='stylesheet', href='/STB/ADMINLITE/plugins/daterangepicker/daterangepicker.css')
                                // iCheck for checkboxes and radio inputs
                                link(rel='stylesheet', href='/STB/ADMINLITE/plugins/icheck-bootstrap/icheck-bootstrap.min.css')
                                // Bootstrap Color Picker
                                link(rel='stylesheet', href='/STB/ADMINLITE/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css')
                                // Tempusdominus Bbootstrap 4
                                link(rel='stylesheet', href='/STB/ADMINLITE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')
                                // Select2
                                link(rel='stylesheet', href='/STB/ADMINLITE/plugins/select2/css/select2.min.css')
                                link(rel='stylesheet', href='/STB/ADMINLITE/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')
                                // Bootstrap4 Duallistbox
                                link(rel='stylesheet', href='/STB/ADMINLITE/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css')
                                // Theme style
                                link(rel='stylesheet', href='/STB/ADMINLITE/dist/css/adminlte.min.css')
                                // Google Font: Source Sans Pro
                                link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
                                .form-group(data-select2-id='39')
                                  form(method="post", action="/SirateTimhert/course/#{returnedCourse._id}/#{classRoom._id}/attendance")
                                    .row
                                      .col-sm-12
                                      .form-group
                                          label ቀን (mm/dd/yyyy)
                                          input(type="text" name= "newDate" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false")
                                    .row
                                      .col-sm-12
                                        .form-group
                                          label Remark
                                          textarea(class="form-control" name = "remark" rows="3" placeholder="Enter ...")
                                    input.btn.btn-primary(type='submit' value= "ጨምር")

                                  .modal-footer.justify-content-between
                                    button.btn.btn-default(type='button', data-dismiss='modal') ተወው
                                // Bootstrap 4
                                script(src='/STB/ADMINLITE/plugins/bootstrap/js/bootstrap.bundle.min.js')
                                // Select2
                                script(src='/STB/ADMINLITE/plugins/select2/js/select2.full.min.js')
                                // Bootstrap4 Duallistbox
                                script(src='/STB/ADMINLITE/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js')
                                // InputMask
                                script(src='/STB/ADMINLITE/plugins/moment/moment.min.js')
                                script(src='/STB/ADMINLITE/plugins/inputmask/min/jquery.inputmask.bundle.min.js')
                                // date-range-picker
                                script(src='/STB/ADMINLITE/plugins/daterangepicker/daterangepicker.js')
                                // bootstrap color picker
                                script(src='/STB/ADMINLITE/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js')
                                // Tempusdominus Bootstrap 4
                                script(src='/STB/ADMINLITE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
                                // Bootstrap Switch
                                script(src='/STB/ADMINLITE/plugins/bootstrap-switch/js/bootstrap-switch.min.js')
                                // AdminLTE App
                                script(src='/STB/ADMINLITE/dist/js/adminlte.min.js')
                                // AdminLTE for demo purposes
                                script(src='/STB/ADMINLITE/dist/js/demo.js')
                                // Page script
                                script.
                                  $(function () {
                                  //Initialize Select2 Elements
                                  $('.select2').select2()
                                  //Initialize Select2 Elements
                                  $('.select2bs4').select2({
                                  theme: 'bootstrap4'
                                  })
                                  //Datemask dd/mm/yyyy
                                  $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
                                  //Datemask2 mm/dd/yyyy
                                  $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
                                  //Money Euro
                                  $('[data-mask]').inputmask()
                                  //Date range picker
                                  $('#reservation').daterangepicker()
                                  //Date range picker with time picker
                                  $('#reservationtime').daterangepicker({
                                  timePicker: true,
                                  timePickerIncrement: 30,
                                  locale: {
                                  format: 'MM/DD/YYYY hh:mm A'
                                  }
                                  })
                                  //Date range as a button
                                  $('#daterange-btn').daterangepicker(
                                  {
                                  ranges   : {
                                  'Today'       : [moment(), moment()],
                                  'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                  'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
                                  'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                                  'This Month'  : [moment().startOf('month'), moment().endOf('month')],
                                  'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                                  },
                                  startDate: moment().subtract(29, 'days'),
                                  endDate  : moment()
                                  },
                                  function (start, end) {
                                  $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                                  }
                                  )
                                  //Timepicker
                                  $('#timepicker').datetimepicker({
                                  format: 'LT'
                                  })
                                  //Bootstrap Duallistbox
                                  $('.duallistbox').bootstrapDualListbox()
                                  //Colorpicker
                                  $('.my-colorpicker1').colorpicker()
                                  //color picker with addon
                                  $('.my-colorpicker2').colorpicker()
                                  $('.my-colorpicker2').on('colorpickerChange', function(event) {
                                  $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
                                  });
                                  $("input[data-bootstrap-switch]").each(function(){
                                  $(this).bootstrapSwitch('state', $(this).prop('checked'));
                                  });
                                  })


                         // /.card-body
                      #detail.tab-pane
                        .row
                          .col-md-3
                            // Profile Image
                            .card.card-primary.card-outline
                              .card-body.box-profile
                                .text-center
                                  img.profile-user-img.img-fluid.img-circle(src='/STB/SharedComponents/static/logo.jpg', alt='User profile picture')
                                |                 
                                h3.profile-username.text-center #{returnedCourse.name}
                                |                 
                                p.text-muted.text-center 
                                |                 
                                ul.list-group.list-group-unbordered.mb-3
                                  li.list-group-item
                                    b የተከፈተበት ቀን
                                    p #{returnedCourse.createdAt}
                                  li.list-group-item
                                    b መስራች
                                    p #{returnedCourse.createdBy}
                              // /.card-body
                            // /.card
                            // About Me Box
                          .col-md-9
                            .card
                              .card-header.p-2
                                ul.nav.nav-pills                 
                                  li.nav-item
                                    a.nav-link.active(href='#settings', data-toggle='tab') አስተካክል
                              // /.card-header
                              .card-body
                                .tab-content
                                  #settings.active.tab-pane
                                    ul.list-group.list-group-unbordered.mb-3
                                      li.list-group-item
                                        b ዝርዝር
                                        p #{returnedCourse.description}
                                    form(method="post", action="../Gubaye/Update").form-horizontal
                                      .form-group.row
                                        label.col-sm-2.col-form-label(for='inputName') የጉባኤው ስም
                                        |                         
                                        .col-sm-10
                                          input.form-control(type='text', placeholder='የጋባኤው ስም', value="#{returnedCourse.name}", id="name", name='name')
                                        |                       
                                      .form-group.row
                                        label.col-sm-2.col-form-label(for='inputEmail') ዝርዝር
                                        |                         
                                        .col-sm-10
                                          input.form-control(type='text', placeholder='ዝርዝር', value="#{returnedCourse.description}", id="description", name='description')
                                      |                      
                                      .form-group.row
                                        label.col-sm-2.col-form-label(for='inputTel') ጉባኤ አስተዳዳሪ
                                        |                         
                                        .col-sm-10
                                          input.form-control(type='text', placeholder='ጉብኤ አስተዳዳሪ', value="#{returnedCourse.createdBy}", id="admin", name='admin') 
                                          input(type='hidden', placeholder='የጋባኤው ስም', value="#{returnedCourse.createdAt}", name='_id', id='_id')
                                  // /.tab-pane
                                // /.tab-content
                              // /.card-body
                            // /.nav-tabs-custom
                          // /.col
                    // /.tab-content
                  // /.card-body
                // /.nav-tabs-custom
              // /.col
            // /.row
          // /.container-fluid
        // Main content
        section.content
          .container-fluid
          // /.container-fluid
        // /.content
      // /.content-wrapper
      footer.main-footer 
        include ../../../SharedComponents/Layouts/footer.jade
    // jQuery
    script(src='/STB/ADMINLITE/plugins/jquery/jquery.min.js')
    // Bootstrap 4
    script(src='/STB/ADMINLITE/plugins/bootstrap/js/bootstrap.bundle.min.js')
    // AdminLTE App
    script(src='/STB/ADMINLITE/dist/js/adminlte.min.js')
    // AdminLTE for demo purposes
    script(src='/STB/ADMINLITE/dist/js/demo.js')
    script(src="/STB/ADMINLITE/plugins/datatables/jquery.dataTables.js")
    script(src="/STB/ADMINLITE/plugins/datatables-bs4/js/dataTables.bootstrap4.js")
    script.
      document.getElementById('3').className = "nav-link active"
      document.getElementById('#{user.GubayeID}').className = "nav-link active"
    script(src="/STB/Workspaces/SierateTimhert/js/classRoomCourseTSDA.js")
