doctype html
include ../../../SharedComponents/Layouts/header.jade
html
  head
    meta(charset='utf-8')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    title #{user.gubaye.name}
    // Tell the browser to be responsive to screen width
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Font Awesome
    link(rel='stylesheet', href='https://localhost:3000/adminlite/plugins/fontawesome-free/css/all.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='static/dist/css/adminlte.min.css')
    // Google Font: Source Sans Pro
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
  body.hold-transition.sidebar-mini
    .wrapper
      // Navbar
      include ../../../SharedComponents/Layouts/navigation.jade
      // Main Sidebar Container
      include ../../../SharedComponents/Layouts/sidebarNU.jade
      // Content Wrapper. Contains page content
      .content-wrapper
        // Content Header (Page header)
        section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-8
                h1 #{user.gubaye.name}
              |           
              .col-sm-4
                ol.breadcrumb.float-sm-right
                  li.breadcrumb-item
                    a(href='../../../STB/Accounts/home') ቤት
                  |               
                  li.breadcrumb-item.active #{user.gubaye.name} ፡ ለሁሉም
            .row
              .col-md-12
                .card
                  .card-header.p-2
                    ul.nav.nav-pills
                      li.nav-item
                        a.nav-link.active(href='#home', data-toggle='tab') መግቢያ
                      li.nav-item
                        a.nav-link(href='#member', data-toggle='tab') አባላት
                      li.nav-item
                        a.nav-link(href='#education', data-toggle='tab') ትምህርት
                  // /.card-header
                  .card-body
                    .tab-content
                      #home.active.tab-pane
                        .text-center
                          .row
                            .col-4
                            .col-4
                              .text-center
                                img(src="/STB/SharedComponents/static/logo.jpg" alt="User Image" style="opacity: .8" class="brand-image img-circle elevation-3" width="100%")
                            .col-4
                          .row
                            .col-12

                                br
                                .h6 እንኳን ደህና መጡ
                            .col-12
                              p #{user.gubaye.description}
                            .col-12
                              p ይህን ገጽ በመጠቀም በጉባኤ ውስጥ ትምህርታቸውን የሚከታተሉ ተማሪዎችን፣ በየኮርሱ የተያዘሎትን ማርክ እና አቴንዳንስ ማየት ይችላሉ።
                      #member.tab-pane
                        .row
                          each val in user.gubayemembers
                            .col-12.col-sm-6.col-md-3
                              .info-box.mb-3
                                span.info-box-icon.bg-success.elevation-1
                                  img(src="../../../STB/#{val.pro_img}" alt="User Image")
                                .info-box-content
                                  a.users-list-name(href="/STB/accounts/public/profile/#{val.telephone}") #{val.name}
                                                                      

                      #education.tab-pane
                        .row
                          each val in JoinedClass
                            .col-12.col-sm-6.col-md-4
                              .info-box.mb-3
                                span.info-box-icon.bg-success.elevation-1
                                  i.fas.fa-book
                                .info-box-content
                                  a(href="/STB/SirateTimhert/course/public/#{val.id}/#{user.gubaye.id}") #{val.name}

                    // /.tab-content
                  // /.card-body
                // /.nav-tabs-custom
              // /.col
            // /.row
          // /.container-fluid
        // Main content
        section.content
          .container-fluid
          // /.container-fluid
        // /.content
      // /.content-wrapper
      footer.main-footer
        .float-right.d-none.d-sm-block
          b Version
          |  3.0.2-pre
        |     
        strong
          | Copyright &copy; 2014-2019 
          a(href='http://adminlte.io') AdminLTE.io
          | .
        |  All rights
        |     reserved.
      // Control Sidebar
      aside.control-sidebar.control-sidebar-dark
        // Control sidebar content goes here
      // /.control-sidebar
    // ./wrapper
    // jQuery
    script(src='/STB/ADMINLITE/plugins/jquery/jquery.min.js')
    // Bootstrap 4
    script(src='/STB/ADMINLITE/plugins/bootstrap/js/bootstrap.bundle.min.js')
    // AdminLTE App
    script(src='/STB/ADMINLITE/dist/js/adminlte.min.js')
    // AdminLTE for demo purposes
    script(src='/STB/ADMINLITE/dist/js/demo.js')
    script.
      document.getElementById('3').className = "nav-link active"
      document.getElementById('#{user.GubayeID}').className = "nav-link active"
