doctype html
include ../../../SharedComponents/Layouts/header.jade
html
  head
    meta(charset='utf-8')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    title #{user.gubaye.name}
    // Tell the browser to be responsive to screen width
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Font Awesome
    link(rel='stylesheet', href='https://localhost:3000/adminlite/plugins/fontawesome-free/css/all.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='static/dist/css/adminlte.min.css')
    // Google Font: Source Sans Pro
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
  body.hold-transition.sidebar-mini
    .wrapper
      // Navbar
      include ../../../SharedComponents/Layouts/navigation.jade
      // Main Sidebar Container
      include ../../../SharedComponents/Layouts/sidebarNU.jade
      // Content Wrapper. Contains page content
      .content-wrapper
        // Content Header (Page header)
        section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-12
                h1 #{user.gubaye.name}
              |           
              .col-sm-12
                ol.breadcrumb.float-sm-right
                  li.breadcrumb-item
                    a(href='http://localhost:3000/SirateTimhert/DepartmentAdmin') ስዕራተ ትምህርት ንኡስ ክፍል
                  li.breadcrumb-item.active ጉባኤ #{user.gubaye.name}
            .row
              .col-md-12
                .card
                  .card-header.p-2
                    ul.nav.nav-pills
                      li.nav-item
                        a.nav-link.active(href='#wall', data-toggle='tab') ግድግዳ
                      li.nav-item
                        a.nav-link(href='#member', data-toggle='tab') አባላት
                      li.nav-item
                        a.nav-link(href='#education', data-toggle='tab') ትምህርት
                  // /.card-header
                  .card-body
                    .tab-content
                      #wall.active.tab-pane
                        // Post
                        .post
                          .user-block
                            img.img-circle.img-bordered-sm(src='http://localhost:3000/ADMINLITE/dist/img/user1-128x128.jpg', alt='user image')
                            |                         
                            span.username
                              a(href='#') Jonathan Burke Jr.
                              |                           
                              a.float-right.btn-tool(href='#')
                                i.fas.fa-times
                            |                         
                            span.description Shared publicly - 7:30 PM today
                          // /.user-block
                          p
                            | Lorem ipsum represents a long-held tradition for designers,
                            | typographers and the like. Some people hate it and argue for
                            | its demise, but others ignore the hate as they create awesome
                            | tools to help create filler text for everyone from bacon lovers
                            | to Charlie Sheen fans.
                          |                       
                          p
                            a.link-black.text-sm.mr-2(href='#')
                              i.fas.fa-share.mr-1
                              |  Share
                            |                         
                            a.link-black.text-sm(href='#')
                              i.far.fa-thumbs-up.mr-1
                              |  Like
                            |                         
                            span.float-right
                              a.link-black.text-sm(href='#')
                                i.far.fa-comments.mr-1
                                |  Comments (5)
                          |                       
                          input.form-control.form-control-sm(type='text', placeholder='Type a comment')
                        // /.post
                        // Post
                        .post.clearfix
                          .user-block
                            img.img-circle.img-bordered-sm(src='http://localhost:3000/ADMINLITE/dist/img/user7-128x128.jpg', alt='User Image')
                            |                         
                            span.username
                              a(href='#') Sarah Ross
                              |                           
                              a.float-right.btn-tool(href='#')
                                i.fas.fa-times
                            |                         
                            span.description Sent you a message - 3 days ago
                          // /.user-block
                          p
                            | Lorem ipsum represents a long-held tradition for designers,
                            | typographers and the like. Some people hate it and argue for
                            | its demise, but others ignore the hate as they create awesome
                            | tools to help create filler text for everyone from bacon lovers
                            | to Charlie Sheen fans.
                          |                       
                          form.form-horizontal
                            .input-group.input-group-sm.mb-0
                              input.form-control.form-control-sm(placeholder='Response')
                              |                           
                              .input-group-append
                                button.btn.btn-danger(type='submit') Send
                        // /.post
                        // Post
                        .post
                          .user-block
                            img.img-circle.img-bordered-sm(src='http://localhost:3000/ADMINLITE/dist/img/user6-128x128.jpg', alt='User Image')
                            |                         
                            span.username
                              a(href='#') Adam Jones
                              |                           
                              a.float-right.btn-tool(href='#')
                                i.fas.fa-times
                            |                         
                            span.description Posted 5 photos - 5 days ago
                          // /.user-block
                          .row.mb-3
                            .col-sm-6
                              img.img-fluid(src='http://localhost:3000/ADMINLITE/dist/img/photo1.png', alt='Photo')
                            // /.col
                            .col-sm-6
                              .row
                                .col-sm-6
                                  img.img-fluid.mb-3(src='http://localhost:3000/ADMINLITE/dist/img/photo2.png', alt='Photo')
                                  |                               
                                  img.img-fluid(src='http://localhost:3000/ADMINLITE/dist/img/photo3.jpg', alt='Photo')
                                // /.col
                                .col-sm-6
                                  img.img-fluid.mb-3(src='http://localhost:3000/ADMINLITE/dist/img/photo4.jpg', alt='Photo')
                                  |                               
                                  img.img-fluid(src='http://localhost:3000/ADMINLITE/dist/img/photo1.png', alt='Photo')
                                // /.col
                              // /.row
                            // /.col
                          // /.row
                          p
                            a.link-black.text-sm.mr-2(href='#')
                              i.fas.fa-share.mr-1
                              |  Share
                            |                         
                            a.link-black.text-sm(href='#')
                              i.far.fa-thumbs-up.mr-1
                              |  Like
                            |                         
                            span.float-right
                              a.link-black.text-sm(href='#')
                                i.far.fa-comments.mr-1
                                |  Comments (5)
                          |                       
                          input.form-control.form-control-sm(type='text', placeholder='Type a comment')
                        // /.post
                      
                      #member.tab-pane
                        .row
                          .col-6  
                            ul.users-list.clearfix
                              each val in user.gubayemembers
                                li
                                  img(src="../#{val.pro_img}" alt="User Image")
                                  a.users-list-name(href="http://localhost:3000/accounts/public/profile/#{val.telephone}") #{val.name}
                      #education.tab-pane
                        .row
                          .col-6  
                            ul.users-list.clearfix
                              each val in JoinedClass
                                li
                                  img(src="http://localhost:3000/SharedComponents/static/logo.jpg" alt="User Image")
                                  a.users-list-name(href="http://localhost:3000/SirateTimhert/course/sebsabi/#{val.id}/#{user.gubaye._id}") #{val.name}
                    // /.tab-content
                  // /.card-body
                // /.nav-tabs-custom
              // /.col
            // /.row
          // /.container-fluid
        // Main content
        section.content
          .container-fluid
          // /.container-fluid
        // /.content
      // /.content-wrapper
      footer.main-footer
        .float-right.d-none.d-sm-block
          b Version
          |  3.0.2-pre
        |     
        strong
          | Copyright &copy; 2014-2019 
          a(href='http://adminlte.io') AdminLTE.io
          | .
        |  All rights
        |     reserved.
      // Control Sidebar
      aside.control-sidebar.control-sidebar-dark
        // Control sidebar content goes here
      // /.control-sidebar
    // ./wrapper
    // jQuery
    script(src='../../ADMINLITE/plugins/jquery/jquery.min.js')
    // Bootstrap 4
    script(src='../../ADMINLITE/plugins/bootstrap/js/bootstrap.bundle.min.js')
    // AdminLTE App
    script(src='../../ADMINLITE/dist/js/adminlte.min.js')
    // AdminLTE for demo purposes
    script(src='../../ADMINLITE/dist/js/demo.js')
    script.
      document.getElementById('3').className = "nav-link active"
      document.getElementById('#{user.GubayeID}').className = "nav-link active"