doctype html
include ../../../SharedComponents/Layouts/header.jade
html
  head
    meta(charset='utf-8')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    title #{user.gubaye.name}
    // Tell the browser to be responsive to screen width
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Font Awesome
    link(rel='stylesheet', href='../ADMINLITE/plugins/fontawesome-free/css/all.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='static/dist/css/adminlte.min.css')
    // Google Font: Source Sans Pro
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
  body.hold-transition.sidebar-mini
    .wrapper
      // Navbar
      include ../../../SharedComponents/Layouts/navigation.jade
      // Main Sidebar Container
      include ../../../SharedComponents/Layouts/sidebarNU.jade
      // Content Wrapper. Contains page content
      .content-wrapper
        // Content Header (Page header)
        section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-12
                h1 ጉባኤያት
              |           
              .col-sm-12
                ol.breadcrumb.float-sm-right
                  li.breadcrumb-item
                    a(href='/STB/SirateTimhert/DepartmentAdmin') ስዕራተ ትምህርት ንኡስ ክፍል
                  li.breadcrumb-item.active ጉባኤ #{user.gubaye.name}
            .row
              .col-md-3
                .card.card-primary.card-outline
                  .card-body.box-profile
                    .text-center
                      img.profile-user-img.img-fluid.img-circle(src='#{user.gubaye.profilePic}', alt='User profile picture')
                    |                 
                    h3.profile-username.text-center ጉባኤ #{user.gubaye.name}
                    |                 
                    p.text-muted.text-center
                    |     
                    //used to delete group
                    button(type='button', class="btn btn-block btn-primary", data-toggle='modal', data-target='#modal_pic-sm') ምስል ቀይር
                    ul.list-group.list-group-unbordered.mb-3
                      li.list-group-item
                        b አስተባባሪ
                        p #{user.gubaye.leader}
                      li.list-group-item
                        b ዝርዝር
                        p #{user.gubaye.description}
              .col-md-9
                .card
                  .card-header.p-2
                    ul.nav.nav-pills
                      li.nav-item
                        a.nav-link.active(href='#member', data-toggle='tab') አባላት
                      li.nav-item
                        a.nav-link(href='#education', data-toggle='tab') ትምህርት
                  // /.card-header
                  .card-body
                    .tab-content    
                      #member.active.tab-pane
                        .row 
                          if(user.gubayemembers)
                            each val in user.gubayemembers
                              .col-12.col-sm-6.col-md-3
                                .info-box.mb-3
                                  span.info-box-icon.bg-success.elevation-1
                                    img(src="#{val.pro_img}" alt="User Image")
                                  .info-box-content
                                    a.users-list-name(href="/STB/accounts/public/profile/#{val.telephone}") #{val.name}
                                  
                      #education.tab-pane
                        if(user.gubaye.curriculum != "none")
                          each curriculum in curriculums
                            if(curriculum._id ==user.gubaye.curriculum)
                              h3 
                                a(href="/STB/SirateTimhert/SubDepartmentAdmin/curriculum/#{curriculum._id}") #{curriculum.name}
                              .row
                                .col-5.col-sm-3
                                  #vert-tabs-tab.nav.flex-column.nav-tabs.h-100(role='tablist' aria-orientation='vertical')
                                    
                                    each grade in curriculum.grades
                                      a.nav-link(id = "G#{grade._id}-tab" data-toggle='pill' href='#G#{grade._id}' role='tab' aria-controls='G#{grade._id}' aria-selected='false') #{grade.name}
                                .col-7.col-sm-9
                                  #vert-tabs-tabContent.tab-content
                                    
                                    each grade in curriculum.grades
                                      div(id="G#{grade._id}" class="tab-pane fade" role='tabpanel' aria-labelledby='G#{grade._id}-tab')
                                        h1 #{grade.name}                                  
                                        h6 የተመደቡ ኮርሶች
                                        .row
                                          each course in grade.courses 
                                            .col-12.col-sm-6.col-md-4
                                              .info-box.mb-3
                                                span.info-box-icon.bg-success.elevation-1
                                                  i.fas.fa-book
                                                .info-box-content
                                                
                                                  a(href='/STB/SirateTimhert/course/sebsabi/#{course.course_id}/#{user.gubaye._id}') #{course.course_name}
                                                  if(course.activated)
                                                    p Non Active
                                                  if(!course.activated)
                                                    p Active 
                                        br
                                        h6 የክፍሉ አላማ
                                        p #{grade.description}
                  #modal_pic-sm.modal.fade(style='display: none;', aria-hidden='true')
                    .modal-dialog.modal_pic-sm
                      .modal-content
                        .modal-header
                          h5.modal-title ጉባኤ #{user.gubaye.name} : የጉባኤ ምስል መቀየሪያ
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .modal-body
                          .text-center
                            img.profile-user-img.img-fluid.img-circle#gubayeImg(style="width:300px;" src='#{user.gubaye.profilePic}', alt='User profile picture')
                          .form-group
                            br
                            label(for='exampleInputFile') የጉባኤ ምስል ይምረጡ
                            br
                            .input-group
                              form(method="post" enctype="multipart/form-data" action="/STB/SirateTimhert/Gubaye_Nius_Sebsabi/upload/gubaye/#{user.gubaye._id}/profileImage")
                                input(type='file' name="gubayePicFile" accept="image/*")
                                button.btn.btn-primary(type="submit") Upload                                  
                        .modal-footer.justify-content-between
                          button.btn.btn-default(type='button', data-dismiss='modal') ዝጋ
                      // /.modal-dialog
 
        section.content
          .container-fluid
          // /.container-fluid
        // /.content
      // /.content-wrapper
      footer.main-footer 
        include ../../../SharedComponents/Layouts/footer.jade
    // Bootstrap 4
    script(src='../ADMINLITE/plugins/bootstrap/js/bootstrap.bundle.min.js')
    // AdminLTE App
    script(src='../ADMINLITE/dist/js/adminlte.min.js')
    // AdminLTE for demo purposes
    script(src='../ADMINLITE/dist/js/demo.js')
    script(src="../ADMINLITE/plugins/datatables/jquery.dataTables.js")
    script(src="../ADMINLITE/plugins/datatables-bs4/js/dataTables.bootstrap4.js")
    script.
      document.getElementById('3').className = "nav-link active"